.theme-button {
    background-color: #FFF;
    color: #464A51;
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: 125px;
    height: 50px;
    border: 0;
    padding-left: 16px;
    cursor: pointer;
    font-weight: 400;
    font-size: 22px;
    transition: 0.5s;
    box-shadow: 0px 4px 8px #DBE0EE;
    &--dark {
        background-color: #464A51;
        color: #C0C4CA;
        box-shadow: none;
    }

    &--unactive {
        background-color: inherit;
        box-shadow: none;
    }
}

.theme-switcher {
    padding: 6px;
    height: 50px;
    width: 250px;
    display: flex;
    gap: 8px;
    border-radius: 8px;
    background-color: #E9EDF8;
    &--dark {
        background-color: #222126;
    }
}

.theme-icon {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    &--dark {
        filter: brightness(0) invert(1);
    }
}