:root {
    --primary: #000000;
    --primary-light: #22211F;
    --primary-disabled: #363435;
    --primary-lighter: #454344;
    --secondary: #1D1D1D;
    --text: #11181C;
    --text-gray: #687076;
    --text-placeholder: #8890A7;
    --border: #DFE3E6;
    --btn-bg: #EDEDED;
    --input-bg: #F1F2F3;
    --background: #F8F8FF;
    --error: #e5484d;
}

html {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    padding: 1rem;
    display: grid;
    place-items: center;
    background: var(--background);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background: var(--primary-light);
    color: white;
}

.socials-row {
    display: flex;
}

.socials-row img {
    width: 1.5rem;
    height: 1.5rem;
}

.socials-row>a {
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
    min-height: 2.75rem;
    display: flex;
    gap: 0.75rem;
    color: var(--text);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--text);
    padding: 0.5rem;
    border: 1px solid var(--border);
    transition: all .3s ease;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 4px 0px;
}

.socials-row>a svg {
    color: var(--text)
}

.socials-row>a:hover {
    background-color: var(--btn-bg);
}

.form-welcome-row {
    margin-bottom: 1rem;
}

.form-welcome-row h1 {
    color: var(--text);
    font-size: 2rem;
    line-height: 2rem;
    font-weight: normal;
    margin-top: 2rem;
    margin-bottom: 0.75rem;
}

.form-welcome-row h2 {
    color: var(--text-gray);
    font-size: 1.10rem;
    font-weight: normal;
}

.divider {
    display: flex;
    flex-direction: row;
    color: var(--secondary);
    gap: 1rem;
    align-items: center;
}

.divider-line {
    width: 100%;
    height: 1px;
    background: var(--secondary);
    opacity: .2;
}

.form-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    gap: 1rem;
    max-height: 200rem;
    height: 100%;
    width: 100%;
}

.form-side {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.logo {
    height: 4rem;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

.my-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    gap: 1.25rem;
    max-width: 26rem;
    width: 100%;
}

.my-form__button {
    background: var(--primary);
    border: 1px solid var(--primary-light);
    color: white;
    white-space: nowrap;
    display: grid;
    place-items: center;
    margin-top: 1.5rem;
    line-height: 2.75rem;
    outline: none;
    border: none;
    font-size: 1.125rem;
    cursor: pointer;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
    transition: all .3s ease;
}

.my-form:invalid .my-form__button {
    pointer-events: none;
    background: var(--primary-disabled);
    border: 1px solid var(--primary-light);
}

.my-form__actions {
    display: flex;
    flex-direction: column;
    color: var(--secondary);
    gap: 1rem;
    margin-top: 0.5rem;
}

.my-form__actions a {
    color: var(--text);
}

.my-form__actions a:hover {
    color: var(--text-gray);
    text-decoration: underline;
}

.my-form__row {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.text-field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.text-field input {
    color: var(--secondary);
    max-width: 100%;
    width: 100%;
    border: 1px solid var(--border);
    min-height: 3rem;
    letter-spacing: .03rem;
    outline: none;
    background: var(--input-bg);
    transition: .25s;
    border-radius: 0.5rem;
    text-indent: 1.25rem;
}

.text-field label {
    color: var(--text);
}

.text-field input:user-invalid {
    background: var(--white);
    color: var(--error);
    border: 1px solid var(--error);
}

.error-message {
    display: none;
}

.text-field input:user-invalid~.error-message {
    display: block;
    margin-top: 0.25rem;
    font-size: 0.8rem;
    color: var(--error);
}

.text-field input:focus {
    border: 1px solid var(--text);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 4px 0px;
}

/* aside */
.info-side {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 2rem;
    background: url('assets/background.jpg') repeat center center;
    background-position: cover;
    max-height: 90rem;
}

.info-side .blockquote-wrapper {
    gap: 1rem;
    position: relative;
    padding: 1rem;
    max-width: 25rem;
    background: white;
    border-radius: 1rem;
}

.info-side .blockquote-wrapper img {
    width: 100%;
    max-width: 100%;
    border-radius: 1rem;
}

.info-side .blockquote-wrapper blockquote {
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1rem;
}

.info-side .author {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    align-items: center;
}

.info-side .author img {
    border-radius: 50%;
    width: 2.75rem;
    height: 2.75rem;
}

.info-side .author-name {
    font-weight: 600;
    color: var(--text);
}

@media (max-width: 720px) {
    .form-wrapper {
        grid-template-columns: 1fr;
    }

    .info-side {
        display: none;
    }
}