


:root {
    --footer-background: #121a29;
    --text-color: #FAFBFC;
    --text-gray: #FEFEFE;
    --text-heading-gray: #F4F5F6;
    --text-primary: #FAFBFC;
    --button-color: #404652;
    --button-border: #6B707C;
}

html {
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
}

/*? footer reset */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #FAFBFC;
}

/*? footer containers */
footer {
    position: absolute;
    bottom: 0;
    background: var(--footer-background);
    min-width: 18rem;
    width: 100vw;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-wrapper {
    display: flex;
    background: var(--footer-background);
    flex-direction: column;
    max-width: 80rem;
    padding: 1rem;
}

/*? top section */
.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    padding: 1rem 0px;
    justify-content: space-between;
}

.footer-line {
    display: block;
    width: 100%;
    height: 0.5rem;
}

/*? footer subscribe */
.footer-subscribe {
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
}

.footer-subscribe > input {
    border: 1px solid var(--button-border);
    color: var(--text-color);
    outline: none;
    min-height: 2.25rem;
    background: var(--footer-background);
    font-size: 1.2rem;
    flex: 1 0 120px;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
}

.footer-subscribe > input::placeholder {
    color: var(--text-color);
}

.footer-subscribe > button {
    cursor: pointer;
    background: var(--button-color);
    border-radius: 0.5rem;
    color: white;
    font-size: 1.25rem;
    min-width: 8rem;
    min-height: 2.25rem;
    flex: 1 0 5rem;
    white-space: nowrap;
    padding: 0.5rem 0.75rem;
    border: 0;
    outline: none;
    border: 1px solid var(--button-border);
}

/*? footer columns */
.footer-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    flex: 2 0 14rem;
    width: 100%;
    gap: 1rem;
    padding: 1.5rem 0.5rem 1rem 0.5rem;
    margin: 0 auto;
}

.footer-columns ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-columns ul a {
    color: var(--text-color);
    text-decoration: none;
}

.footer-columns ul a:hover {
    text-decoration: underline;
}

.footer-columns ul li {
    margin-bottom: 1rem;
}

.footer-columns h3 {
    color: var(--text-primary);
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
}

.footer-centering {
    margin: 0 auto;
}

.footer-columns > section {
    min-width: 10rem;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 1rem;
    color: var(--text-color);
    margin-bottom: 4rem;
}

.footer-logo svg {
    stroke: var(--text-color);
    stroke-width: 8px;
    width: 3rem;
    height: 3rem;
}


/*? Footer bottom */
.footer-bottom {
    text-align: center;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 1rem 0px;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--text-gray);
}

.footer-bottom > small {
    margin: 0 0.25rem;
}

.footer-headline > h2 {
    margin: 0;
    color: var(--text-primary);
}

.footer-headline > p {
    color: var(--text-gray);
    margin: 0.25rem 0 1.25rem 0;
}

.footer-line {
    display: block;
    min-width: 2.5rem;
    height: 0.125rem;
    background: var(--text-gray);
}

/*? socials */
.social-links {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.social-text {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.social-links img {
    width: 1.5rem;
    height: 1.5rem;
    transition: all 0.2s ease-in-out;
}

.social-links img:hover {
    transform: scale(1.1);
}

.social-links ul {
    display: flex;
    gap: 0.75rem;
    list-style-type: none;
}

/*? mobile */

@media (max-width: 800px) {
    .footer-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1rem 0.5rem 2rem 0.5rem;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column-reverse;
        align-items: space-between;
        justify-content: center;
        margin: 0 auto;
    }
}



