
:root {
    --primary-color: #272727;
    --text: white;
    --background: #F4F5FC;
    --sidebar-gray-background: #DCE1EB;
    --red: #F55E5E;
    --item-hover: #F0F0F0;
}

body {
  font-family: Inter, sans-serif;
  background-color: var(--background);
  padding: 1rem;
  height: 100%;
}

html {
  height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    min-height: 53.75rem;
    height: 100%;
    border-radius: 1rem;
    background-color: var(--primary-color);
    width: 18rem;
    padding: 1rem 0.625rem;
    display: flex;
    color: white;
    flex-direction: column;
    background-color: #FCFCFD;
    transition: all 0.1s ease-in-out;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

body.collapsed nav {
  width: 4.75rem;
}

body.collapsed .hide {
  position: absolute;
  display: none;
}

/*? sidebar top */
.sidebar-top {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  height: 4rem;
  padding-bottom: 1rem;
}

body.collapsed .sidebar-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo__wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.25rem;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.logo {
  height: 2.6125rem;
  overflow: hidden;
  max-width: 100%;
  object-fit: contain;
}

.logo-small {
  height: 2.6125rem;
  overflow: hidden;
  max-width: 100%;
  display: none;
  object-fit: contain;
}

.collapsed .logo {
  display: none;
}

.collapsed .logo-small {
  display: block;
}

/*? menu links */
.sidebar-links {
  padding: 0.5rem 0px;
  border-top: 1px solid var(
    --sidebar-gray-background
  );
}

.sidebar-links ul {
  list-style-type: none;
  position: relative;
}

.sidebar-links li {
  color: var(--primary-color);
}

.collapsed .sidebar-links li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-links li svg {
  stroke: var(--primary-color);
  transition: none;
  width: 1.75rem;
  height: 1.75rem;
}

.sidebar-links li a {
  padding: 0.75rem 0.75rem;
  margin: 0.5rem 0;
  color: var(--sidebar-gray-light);
  font-size: 1.25rem;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 3.5rem;
  border-radius: 0.625rem;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.sidebar-links li a img {
  height: 2.125rem;
  width: 2.125rem;
}

.sidebar-links .link {
  margin-left: 1.875rem;
}

.sidebar-links .active:hover {
  background-color: var(--primary-color);
  color: var(--background);
}

.sidebar-links .active:hover svg {
  stroke: var(--background);
}

.sidebar-links .active {
  text-decoration: none;
  background-color: var(
    --primary-color
  );
  color: var(--background);
}

.sidebar-links .active svg {
  stroke: var(--background);
}

.sidebar-links li a:hover {
  background-color: var(--item-hover);
  color: var(--primary-color);
}

.sidebar-links li a:hover svg {
  stroke: var(--primary-color);
}

/*? bottom sidebar */
.sidebar-bottom {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  margin-top: auto;
  border: 1px solid #F0F0F0;
  display: flex;
  text-align: center;
  border-radius: 1rem;
  padding-top: 4rem;
  margin-bottom: 3rem;
}

.sidebar-bottom img {
  max-width: 10.25rem;
  margin: 0 auto;
  width: 100%;
  margin-top: -5.25rem;
}

.sidebar-bottom p {
  margin-top: -2rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.sidebar-bottom button {
  border-radius: 1rem;
  outline: none;
  margin: 0 auto;
  margin-bottom: -1.75rem;
  cursor: pointer;
  min-height: 2.612rem;
  font-weight: 800;
  border: 1.5px solid var(--sidebar-gray-background);
  padding: 0.5rem 0.75rem;
  background-color: var(--background);
  transition: all 0.2s ease-in-out;
}

.sidebar-bottom button:hover {
  background-color: var(--primary-color);
  color: var(--item-hover);
}

.notification {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--red);
  top: -0.1875rem;
  border: 0.1875rem solid var(--background);
  right: -0.1875rem;
}

/*? Expand button */

body.collapsed .expand-btn {
  justify-content: center;
  margin-top: auto;
}

.expand-btn:hover {
  background-color: var(--item-hover);
}

.expand-btn {
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
  color: var(--primary-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.expand-btn img {
  transform: rotate(180deg);
  stroke: var(--primary-color);
  width: 2.375rem;
  height: 2.375rem;
}

body.collapsed .expand-btn img {
  transform: rotate(-360deg);
}

/* ?Tooltip */

.tooltip {
  position: relative;
}

.tooltip .tooltip__content {
  visibility: hidden;
  background-color: var(
    --primary-color
  );
  color: var(--text);
  text-align: center;
  border-radius: 0.375rem;
  padding: 0.375rem 0.75rem;
  position: absolute;
  z-index: 1;
  left: 4.6875rem;
}

.collapsed .tooltip:hover .tooltip__content {
  visibility: visible;
}