
:root {
    --primary: #625BFE;
    --primary-hover: #7771f7;                
    --text: #383740;
    --text-lighter: #71707d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish, sans-serif;
}

h1 {
    color: var(--text);
}

.background {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background-color: var(--primary);
}

.socials-row {
    display: flex;
    gap: 1rem;
    margin: 1rem 0px ;
}

.socials-row img {
    width: 1.5rem;
    height: 1.5rem;
}

.socials-row > a {
    background-color: var(--secondary);
    border-radius: 0.5rem;
    width: 100%;
    min-height: 3rem;
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text);
    border: 1px solid var(--text-lighter);
    font-weight: 700;
}

.socials-row > a:hover {
    background-color: var(--secondary-hover);
    border: 1px solid var(--primary);
}

.divider {
    display: flex;
    flex-direction: row;
    color: var(--text-lighter);
    gap: 1rem;
    align-items: center;
}

.divider-line {
    width: 100%;
    height: 1px;
    background-color: var(--text-lighter);
    opacity: .2;
}

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.my-form {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 20px 60px var(--aura);
    min-width: 17.5rem;
    max-width: 31.25rem;
    width: 100%;
    padding: 2rem;
}

.signup-welcome {
    height: 5rem;
    width: 5rem;
    object-fit: cover;
}

.signup-welcome-row {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.my-form__button {
    background-color: var(--primary);
    color: white;
    white-space: nowrap;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    line-height: 3.125rem;
    outline: none;
    font-size: 1.125rem;
    letter-spacing: .025em;
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
    min-height: 3.125rem;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 5px 10px rgba(0,0,0,.15);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.text-field input {
    color: var(--text-lighter);
    font-size: 1rem;
    font-weight: 500;
    max-width: 100%;
    width: 100%;
    border: 1px solid var(--text-lighter);
    height: 3.125rem;
    color: var(--text);
    letter-spacing: .03rem;
    background-color: transparent;
    outline: none;
    transition: .25s;
    border-radius: 0.5rem;
    text-indent: 1.25rem;
    margin-top: 0.5rem;
}

.text-field input:focus {
    border: 1px solid var(--primary);
}

.my-form__button:hover {
    background-color: var(--primary-hover);
}

.text-field {
    position: relative;
}

.text-field input::-webkit-input-placeholder {
    color: var(--text-lighter);
}

.text-field svg {
    position: absolute;
    right: -0.125rem;
    bottom: -0.25rem;
    width: 1.875rem;
    height: 1.875rem;
    transform: translate(-50%,-50%);
    transform-origin: center;
    stroke: var(--text);
}

.text-field input:focus + svg {
    stroke: var(--primary);
}

.text-field label {
    color: var(--text);
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: .03rem;
    z-index: 10;
}

.text-field label:has(+ input:focus) {
    color: var(--primary);
}

.input-icon {
    position: absolute;
    bottom: 0;
    top: 55%;
    right: 0.5rem;
    transform: translate(-50%, -50%);
    transform-origin: center;
}

.my-form__actions {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    margin-top: 0.5rem;
}

.my-form__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.my-form__actions a {
    color: var(--secondary);
    font-weight: 600;
}

.my-form__actions a:hover {
    text-decoration: underline;          
}

.my-form__row {
    display: flex;
    justify-content: space-between;
}

.my-form__signin {
    display: flex;
    justify-content: center;
}

.my-form__signin a {
    color: var(--primary);
    font-weight: 800;
    text-decoration: none;
    font-size: 1.125rem;
}

.my-form__signin a:hover {
    text-decoration: underline;
}