:root {
    --white: #FFF;
    --gray: #363638;
    --gray-mid: #9D9D9D;
    --gray-dark: #3e3e3e;
    --gray-hover: #F7F7F7;
    --body-background: #1F192D;
    --primary: #8543CC;
    --primary-border: #42375d;
    --text: #CEC0E0;
    --widget-background: #3A2D54;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
    background-color: var(--body-background);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tabs-container {
    padding: 1rem;
    width: 100%;
    max-width: 30rem;
    min-width: 20rem;
    display: flex;
    margin: 0.675rem;
    border-radius: 1rem;
    background-color: var(--widget-background);
    border: 1px solid var(--primary-border);
}


.tab-content-wrapper {
    overflow-y: hidden;
    overflow-x: auto;
    height: 18.75rem;
    transition: all 0.45s ease-in-out;
    padding: 0 1rem;
}

.tab-content h2 {
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.tab-content {
    font-size: 0.8rem;
    min-height: 18.75rem;
    min-width: 15rem;

    color: var(--white);
    overflow-x: auto;
    transition: all 0.45s ease-in-out;
}

.tab-content img {
    width: 100%;
    height: auto;
    margin-top: 1rem;
}

.tabs {
    position: relative;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--gray);
    list-style-type: none;
    padding-right: 1rem;
    gap: 0.5rem;
}

.tabs a {
    position: relative;
    display: flex;
    text-decoration: none;
    width: 100%;
    font-size: 0.875rem;
    font-weight: 600;
    text-align: left;
    border-radius: 0.5rem;
    justify-content: start;
    padding: 0.75rem;
    align-items: center;
    gap: 0.5rem;
    color: white;
    user-select: none;
    border: 1px solid transparent;
    transition: all 0.45s ease-in-out;
}

.tabs a img {
    height: 1.5rem;
    width: 1.5rem;
}

.tabs .active,
.tabs a:hover {
    outline: none;
    background-color: var(--primary);
    border: 1px solid var(--primary-border);
}

.tabs a svg {
    stroke: var(--white);
}

.tabs .active svg {
    stroke: var(--white);
}

.tabs a:hover svg {
    stroke: var(--white);
}