

:root {
  --background: #1F2336;
  --box-background: #313852;
  --secondary: #F1F1F1;
  --primary: #F4BD50;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background: var(
    --box-background);
  padding: 1.5rem;
  max-width: fit-content;
  width: 100%;
  padding-top: 0.75rem;
  border-radius: 1rem;
}

.box h2 {
  margin: 0;
  font-weight: 400;
  font-size: 1.5rem;
}

.input__wrapper {
  position: relative;
  padding: 1rem 0 0;
}

.input__field {
  outline: 1.5px solid var(
    --secondary);
  font-size: 1rem;
  border-radius: 0.5rem;
  color: var(--secondary);
  padding: 0.5rem;
  border: none;
  padding-right: 2rem;
  background: transparent;
  transition: all 0.2s;
}

.input__field::placeholder {
  color: transparent;
}

.input__field:placeholder-shown
~.input__label {
  font-size: 1rem;
  cursor: text;
  color: var(--secondary);
  top: 1.5rem;
}

label,
.input__field:focus~.input__label {
  position: absolute;
  top: 0.375rem;
  padding: 0 0.25rem;
  background-color: var(
    --box-background);
  display: block;
  font-size: 0.875rem;
  left: 0.5rem;
  color: var(--secondary);
  transition: 0.3s;
}

.input__field:focus~.input__label {
  color: var(--primary);
}

.input__field:focus {
  outline: 1.5px solid var(--primary);
}

.input__icon {
  position: absolute;
  right: -0.625rem;
  bottom: -0.625rem;
  width: 1.75rem;
  height: 1.75rem;
  transform: translate(-50%, -50%);
  transform-origin: center;
  cursor: pointer;
}